@media only screen and (max-width : 768px) {
    body {
        font-size: 18px;
    }
    .legend {
        height: 120px;
    }
    .legend p {
        width: 50%;
        font-size: 12px;
    }
    .legend img {
        width: 10%;
    }
    .widget-wrapper {
        height: inherit;
    }
    .widget-wrapper h3 {
        text-align: center;
    }
    .widget-wrapper .widget-block {
        float: none;
        width: 100%;
        margin: 15px auto 0 auto;
        padding-top: 0;
    }
    .desktop-only {
        display: none;
    }
    .geocoder {
        width: 80%;
    }
    .geocoder .mapboxgl-ctrl-geocoder {
        width: 100%;
        margin: 0;
    }

}