{% extends 'base.html.twig' %}

{% block body %}
    <div id="map"></div>
    <div class="info">
        <div class="content">
            <div class="legend">
                <p class="icon">
                    <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" alt="picto red">
                    Your position
                </p>
                <p class="icon">
                    <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" alt="picto blue">
                    Facebook Events
                </p>
                <p class="icon">
                    <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" alt="picto green">
                    Linkedin Events
                </p>
                <p class="icon">
                    <img src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png" alt="picto yellow">
                    Other events
                </p>
            </div>
            <div class="concept">
                <h1 class="text-center">Letsout, what's the concept ?</h1>
                <p>
                    Looking for a party ? Don't want to chill this afternoon or you just want to go out ? <br/>
                    Letsout is made for you ! <br/>
                    Here you can easily find events, just fill in the map !
                </p>
            </div>
            <div class="widget-wrapper">
                <div class="widget-block">
                    <div class="title">Easy to use</div>
                    <p>Quickly find events near to you with the Letsout map.</p>
                </div>
                <div class="widget-block">
                    <div class="title">Connected</div>
                    <p>Share events with your friends on Messenger, WhatsApp and many others!</p>
                </div>
                <div class="widget-block last">
                    <div class="title">News</div>
                    <p>We are working hard to create new functionalities!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}
