{% extends 'base.html.twig' %}

{% block body %}
    <div id="map"></div>
    <div class="info">
        <div class="content">
            <div class="concept">
                <h1 class="text-center">What's the concept ?</h1>
            </div>
            <div class="legend">
                <p class="icon float-left">
                    <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png">
                    {#Votre position#}
                </p>
                <p class="icon float-left">
                    <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png">
                    {#Evenement Facebook#}
                </p>
                <p class="icon float-left">
                    <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png">
                    {#Autre#}
                </p>
                <p class="icon float-left">
                    <img src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png">
                    {#Autre#}
                </p>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}
